body {background-color:tan;

     }

h1  {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    color:darkgoldenrod;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    }

h2  {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    color:darkgoldenrod;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}


.grid  {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2%;
    
}


.row    {
    display: flex;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    gap: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.column {
    background-color:peru;
    padding: 1rem 0;
    flex: 1;
    gap: 2px;
    
}

.column:hover {
    background-color:sandybrown;
}

@media only screen and (max-width: 768px) 

    .row  {
        flex-wrap: nowrap;
    }

p   {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 120%;
     color: black;

    }

p2  {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 150%;
        color:darkgoldenrod;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
        
    }

div {
    border-width: 3px;
    border-color: black;

    }

#mainContainer  {width: 85%;
            text-align: center;
            margin: auto;


        }

#title  {background-color:bisque;
         text-align: center;
         margin: auto;
         max-width: 48%;
        }

#itemList   {background-color:bisque;
    text-align: center;
    margin: auto;
    max-width: 48%;
    }

#credit {background-color:bisque;
        width: 40%;
        text-align: center; 
        margin: auto;
        }   