body {
    background-color: bisque;
    height: 100%;
    width: 100%;
    margin: 0;
    line-height: 30px;
    min-height: 100vh;
    }

#mainContainer  {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    }

#subContainer {
    width: 97%;
    align-content: center;
    margin: auto;
    border-top-color: #0613d0;
    border-top-style: solid;
    border-top-width: 3px; 
}

#title  {
    background-color:bisque;
    text-align: center;
    height: 7vh;
    border-left-color: #0613d0;
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: #0613d0;
    border-right-style: solid;
    border-right-width: 3px;
    margin: 0;
    z-index: -1;
    }

#headerContainer {
    width: 60%;
    margin: auto;
    margin-left: 20%;
}

h1  {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
    color: #383838;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 0.3rem;
    
    }

#playAgainPopUp {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    visibility: hidden;
    background-color: yellow;
    display: block;
    color: #383838;
    height: 7vh;
    width: 20%;
    align-content: center;
    border-left-color: #0613d0;
    border-left-style: solid;
    border-left-width: 2px;
}

#popupPlayAgainBtn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8vh;
    color: #383838;
    background-color: gold;
    cursor: pointer;
    width: 100%;
    border: none;
    height: 7vh;
    z-index: 1;
}

#popupPlayAgainBtn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.24);
}


#playAgainPopUp.show {
    visibility: visible;
    /* Add animation: Take 1 second to fade in and out the snackbar.*/
    -webkit-animation: slidein 1s;
    animation: slidein 1s;
    }

#content {
    border-color: #0613d0;
    border-style: solid;
    border-top-width:  0.85px;
    border-bottom-width: 3px; 
    border-left-width: 2.85px;
    border-right-width: 2.85px;
    }

.grid  {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    
.row    {
    display: flex;
    margin: auto;        
    width: 100%;
    line-height: 1.2;
    border-top:  0.15px solid #0613d0;
    border-bottom:  0.15px solid #0613d0;
    }

.column {
    background-color: bisque;
    background-position: center;
    padding: 3% 0;
    gap: 2px;
    align-content: center;
    border-color:#0613d0;
    border-left-style: solid;
    border-left-width: 0.15px;
    border-right-style: solid;
    border-right-width: 0.15px;
    font-size: 3vh;
    justify-content: center;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffe4c4;
    cursor: pointer;
    user-select: none;
    width: 100%;
    }

.column:hover {
    background-color: #68e0cf;
    color: #68e0cf;
    }

.statusBar {
    width: 100%;
    height: 7vh;
    display: flex;
    margin: 0%;
    border-left-color: #0613d0;
    border-left-style: solid;
    border-left-width: 0.15px;
    border-right-color: #0613d0;
    border-right-style: solid;
    border-right-width: 0.15px;
    border-top-color: #0613d0;
    border-top-style: solid;
    border-top-width: 0.85px;
    justify-content: space-between;
    }

#RemainingTurnsCounter  {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    text-align: center;
    margin: 0;
    height: 7vh;
    border-style: none;
    width: 25%;
    }

h2  {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4vh;
    color: #383838;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.5;
    height: 2vh;
    }

#turnCounter    {
    background-color:transparent;
    color: #383838;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 4vh;
    text-align: center;
    height: 4vh;
    line-height: 1vh;
    }

#itemList   {
    background-color:transparent;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 7vh;
    border-style: none;
    width: 50%;
    margin: 0;
    }

h3  {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4vh;
    color:#383838;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.5;
    height: 2vh;
    }

#buriedItemsContainer {
    background-color: transparent;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0;
    margin-top: -1.5vh;
    text-align: center;
    height: 4vh;
    
    }

.responsive {
    max-width: 100%;
    height: 3.2vh;
    }

#howToPlayContainer {
    display: flex;
    background-color:transparent;
    text-align: center;
    align-content: center;
    margin: 0;
    height: 7vh;
    text-align: center;
    border-right-color: #0613d0;
    border-right-style: solid;
    border-right-width: 2.85px;
    width: 25%;
    
}

#howToPlayModalBtn {
    display: block;
    color: #383838;
    background-color: transparent;
    justify-content: center;
    border-style: outset;
    border-color: #dfc09b;
    text-align: center;
    height: 4vh;
    width: 4vh;
    font-size: 2.4vh;
    font-family: Verdana;
    font-weight: bold;
    margin: auto;
    margin-right: 0.5rem;
    cursor: pointer;
    }

#muteBtn {
    display: block;
    color: #383838;
    background-color: transparent;
    justify-content: center;
    border-style: outset;
    border-color: #dfc09b;
    text-align: center;
    height: 4vh;
    width: 4vh;
    font-size: 2.4vh;
    font-family: Verdana;
    font-weight: bold;
    margin: auto;
    margin-left: 0rem;
    margin-right: 1vh;
    cursor: pointer;
    }


.foundTreasuresBar {
    position: relative;
    display: flex;
    width: 100%;
    background-image: linear-gradient(to top, #755c3e 0%, bisque 100%);
    -webkit-background-clip: padding-box;
        background-clip: padding-box; 
    height: 20vh;
    z-index: -1;
    justify-content: center;
    margin-top: -3rem;
    }

.foundTreasuresParent {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: baseline;
    margin-top: 1vh;
}

.treasuresBarChild {
    height: 3rem;
    align-content: center;
    margin-top: 3rem;
}

#smallTreasureContainer {
    width: 18%;
    margin-right: 3vw;
}

#mediumTreasureContainer {
    width: 28%;
    margin-right: 3.5vw;
}

#largeTreasureContainer {
    width: 38%;
}

.treasurePic {
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0.5rem;
    visibility: hidden;
    -webkit-filter: drop-shadow(3px 3px 3px #1f1003);
    filter: drop-shadow(3px 3px 3px #1f1003);
}

#wetSandBar {
    width: 100%;
    background-color: #755c3e;
    height: 8vh;
    z-index: -1;
    margin-top: -0.1rem;
    margin-bottom: -15vh;
    
}

#svg-wave {
    z-index: 1;
    margin-top: 7.5vh;
    }

footer {
    background-image: linear-gradient(to top, #20b8ff 0%, #68e0cf 100%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -1rem;
    min-height: 15vh;
    z-index: 1;
    }

.footer-bottom
{
    position:relative;
    bottom:0px;
}

.socialsParent {
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    bottom: 1vh;
}

.titleParent {
    display: flex;
}

#socials {
    margin: auto;
    }

.right-align {
    margin-left: auto;
}


#credit {
    background-color:#0613d0;
    max-width: 11rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    text-align: center; 
    height: 24px;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    align-content: center;
    border-style: hidden;
    border-radius: 5px;
    line-height: 24px;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    }

#credit a {
    color: white;
    }

#credit a:hover {
    color: rgb(229, 255, 0)
    }

a {
    text-decoration: none;
    }
    

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.7);
}


.modal-content {
    padding: 20px;
    width: 80%;
    align-self: center;
    border-radius: 6px;
    box-shadow: 5px 5px 15px #0000004d;
}

#howToPlayModalContent {
    background-color: bisque;
    border-color: #0613d0;
    border-style: solid;
    border-width: 0.2 rem;
    align-self: center;
    max-width: 40rem;
    width: 80vw;
    padding: 0px;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: fit-content;

}

.wrapper {
    height: fit-content;
    margin: 0 auto -4rem;
    overflow: hidden;
}

#howToPlayModalBody{
    padding: 10px;
    
}

#howToPlayModalHeader {
    background-color: #0613d0;
    height: 12%;
    width: 100%;
    align-content: center;
    
}

.push {
    height: 4rem;
}

#howToPlayModalFooter {
    background-color: #0613d0;
    height: 4rem;
    width: 100%;
    align-content: center;
}

h7 {
    color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    align-content: center;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2rem;
    align-content: center;
    
    }
    

#closeContainer {
    height: 2.0rem;
}

/*The HTP Modal Close Button*/
.howToPlayClose {
    cursor: pointer;
    display: block;
    background: #0613d0;
    color: bisque;
    border-radius: 0%;
    width: 2rem;
    height: 2rem;
    line-height: 1.8rem;
    font-size: 1.8rem;
    font-family: Verdana;
    float: right;
}

#welcomeModalContent {
    background-color: bisque;
    border-color: #0613d0;
    border-style: solid;
    align-self: center;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    max-width: 40rem;
    width: 75vw;
    height: 90vh;
    max-height: 560px;
    padding: 2rem;
}

h5 {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    background-color: gold;
    color:#0613d0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-shadow: rgb(206, 175, 0) 0px 2px 0px;
    width: 17rem;
    margin: auto;
    margin-bottom: 1rem;
    align-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-color: gold;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    }


#welcomeHowToPlayBtnContainer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-shadow: #ad8a53 0px 1px 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#welcomeHowToPlayBtn {
    font-size: 0.8rem;
    color:gold;
    background-color: #0613d0;
    width: 7rem;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: #ad8a53 0px 1px 0px;
    
    margin-bottom: 1rem;
}

.difficultyButtonsColumn {
    margin: auto;        
    width: 100%;
    line-height: 0.75;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1;
}

.difficultyButtons {
    padding: 1rem 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 11rem;
}

#easyModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#easyModeBtn {
    font-size: 2rem;
    color:gold;
    width: 11rem;
    background-color: #0613d0;
    text-transform: uppercase;
    text-shadow: #3033ff 0px 1px 0px;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
}

#normalModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#normalModeBtn {
    font-size: 2rem;
    color:rgb(255, 136, 0);
    width: 11rem;
    background-color: #0613d0;
    text-transform: uppercase;
    text-shadow: #3033ff 0px 1px 0px;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
}

#hardModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#hardModeBtn {
    font-size: 2rem;
    color:rgb(255, 71, 25);
    width: 11rem;
    background-color: #0613d0;
    text-transform: uppercase;
    text-shadow: #3033ff 0px 1px 0px;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
}

#activateMinesContainer {
    color: #0613d0;
    background-color: transparent;
    text-shadow: #3033ff 0px 1px 0px;
    border-color: #dfc09b;
    border-style:outset;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    width: 16rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;    
}

/*The Mines Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 0.75rem;
    
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider.round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dfc09b;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px;
    
}

.slider.round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #383838;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 16%;
}

input:checked + .slider {
    background-color: red;
    }



input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    
    
#winGameModalContent {
    background-color: bisque;
    border-color: #0613d0;
    border-style: solid;
    border-width: 0.2 rem;
    align-self: center;
    justify-self: center;
    margin: 2% auto;
    max-width: 40rem;
    width: 80vw;
}

h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    color:#383838;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    
    }
    
#winningTurnCounter {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    color:#0613d0;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

#winPlayAgainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
}

#winPlayAgain {
    font-size: 1.8rem;
    color:gold;
    background-color: #0613d0;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: #856a49 0px 1px 0px;
    width: 100%; 
}

#winShowSolutionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%
}

#revealObjectsAfterWin {
    font-size: 1.8rem;
    color:gold;
    background-color: #0613d0;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: #856a49 0px 1px 0px;
    width: 100%;
}

#gameOverTurnsModalContent {
    background-color: bisque;
    border-color: #0613d0;
    border-style: solid;
    border-width: 0.2 rem;
    align-self: center;
    justify-self: center;
    margin: 2% auto;
    max-width: 40rem;
    width: 80vw;
}

.gameOverButtonsColumn {
    margin: auto;        
    width: 100%;
    line-height: 0.75;
    align-items: center;
    justify-content: center;
    
}

.gameOverButtons {
    padding: 1rem 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

#losePlayAgainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
}

#losePlayAgain {
    font-size: 1.8rem;
    color:gold;
    background-color: #0613d0;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: #856a49 0px 1px 0px;
    width: 100%;
}

#loseShowSolutionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%
}

#revealObjects {
    font-size: 1.8rem;
    color:gold;
    background-color: #0613d0;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: #856a49 0px 1px 0px;
    width: 100%;
}

#gameOverMinesModalContent {
    background-color: bisque;
    border-color: #0613d0;
    border-style: solid;
    border-width: 0.2 rem;
    align-self: center;
    margin: 5% auto;
    max-width: 40rem;
    width: 80vw;
}

#minePlayAgainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
}

#losePlayAgainMine {
    font-size: 1.8rem;
    color:gold;
    background-color: #0613d0;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: #856a49 0px 1px 0px;
    width: 100%;  
}

#mineShowSolutionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%
}

#revealObjectsMine {
    font-size: 1.8rem;
    color:gold;
    background-color: #0613d0;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: #856a49 0px 1px 0px;
    width: 100%;
}



p   {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: calc(15px + 0.390625vw);
        color: #383838;
        text-align: center;
        line-height: 1.2;
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }

li  {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: calc(15px + 0.390625vw);
        color: #383838;
        text-align: center;
        line-height: 1.2;
        text-align: left;
        padding-left: 1rem;
}

p2  {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 150%;
        color:#0613d0;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }

p3  {
    color: #68e0cf;
    }   

#snackbarChest {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    visibility: hidden;
    width: 50%;
    background-color: #87fd91;
    color: #000000;
    text-align: center; 
    border-style: solid;
    border-color: green;
    border-radius: 10px; 
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 23%;
    top: 100px;
    align-content: center;
    }
        
#snackbarChest.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.0 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.0s;
    animation: fadein 0.5s, fadeout 0.5s 2.0s;
    }

#snackbarGolfClubs {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    visibility: hidden;
    width: 50%;
    background-color: #87fd91;
    color: #000000;
    text-align: center; 
    border-style: solid;
    border-color: green;
    border-radius: 10px; 
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 23%;
    top: 100px;
    align-content: center;
    }
        
#snackbarGolfClubs.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.0 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.0s;
    animation: fadein 0.5s, fadeout 0.5s 2.0s;
    }

    #snackbarSurfboard {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    visibility: hidden;
    width: 50%;
    background-color: #87fd91;
    color: #000000;
    text-align: center; 
    border-style: solid;
    border-color: green;
    border-radius: 10px; 
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 23%;
    top: 100px;
    align-content: center;
    }
        
#snackbarSurfboard.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.0 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.0s;
    animation: fadein 0.5s, fadeout 0.5s 2.0s;
    }


    
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
    }
    
@keyframes fadein {
from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
    }
    
@-webkit-keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
    }
    
@keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
    }

@-webkit-keyframes slidein {
    from {opacity: 0;}
    to {opacity: 1;}
    }
    
@keyframes slidein {
from {opacity: 0;}
    to {opacity: 1;}
    }



