body {
    background-color: #deb887;
    margin: 0;
    line-height: 30px;
    }

#mainContainer  {
    min-height: calc(100vh - 1000px);
    
    width: 100%;
    
    text-align: center;
    align-content: center;
    margin-top: 0.5rem
    }

#subContainer {
    width: 97%;
    max-width: 30rem;
    align-content: center;
    margin: auto;
    border-top-color: rgb(167, 132, 86);
    border-top-style: solid;
    border-top-width: 3px; 
}

#title  {
    background-color:bisque;
    text-align: center;
    height: 3.0rem;
    border-left-color: rgb(167, 132, 86);
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: rgb(167, 132, 86);
    border-right-style: solid;
    border-right-width: 3px;
    margin:0;
    }

h1  {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color:saddlebrown;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    align-content: center;
    padding-top: 0.5rem;
    }

#content {
    
    align-content: center;
    border-color: rgb(167, 132, 86);
    border-style: solid;
    border-top-width:  0.85px;
    border-bottom-width: 3px; 
    border-left-width: 2.85px;
    border-right-width: 2.85px;
    }

.grid  {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    
.row    {
    display: flex;
    margin: auto;        
    width: 100%;
    line-height: 0.75;
    border-top:  0.15px solid rgb(167, 132, 86);
    border-bottom:  0.15px solid rgb(167, 132, 86);
    }

.column {
    background-color: bisque;
    padding: 1rem 0;
    gap: 2px;
    align-content: center;
    border-color:rgb(167, 132, 86);
    border-left-style: solid;
    border-left-width: 0.15px;
    border-right-style: solid;
    border-right-width:0.15px;
    font-size: 1.5rem;
    justify-content: center;   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffe4c4;
    cursor: pointer;
    user-select: none;
    width: 100%;
    }

.column:hover {
    background-color: rgb(167, 132, 86);
    color: rgb(167, 132, 86);
    }

.statusBar {
    width: 100%;
    height: 4rem;
    display: flex;
    margin: 0%;
    border-left-color: #a78456;
    border-left-style: solid;
    border-left-width: 0.15px;
    border-right-color: #a78456;
    border-right-style: solid;
    border-right-width: 0.15px;
    border-top-color: #a78456;
    border-top-style: solid;
    border-top-width: 0.85px;
    }

#RemainingTurnsCounter  {
    background-color: bisque;
    text-align: center;
    margin: 0;
    height: 4rem;
    font-size: small;
    border-style: none;
    
    }

h2  {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.75rem;
    color:saddlebrown;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.5rem;
    margin-left: 0.5rem;
    width: 8.0rem; 
    margin-top: 0.5rem;
    }

#turnCounter    {
    background-color:bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    line-height: 0.5;
    text-align: center;
    margin-top: 1rem;
    }

#itemList   {background-color:bisque;
    text-align: center;
    font-size: small;
    height: 4rem;
    border-style: none;
    width: 100%;
    padding-right: 2rem;
    }

h3  {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.75rem;
    color:saddlebrown;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.5rem;
    margin-top: 0.5rem;
    }

#howToPlayContainer {
    background-color:bisque;
    text-align: center;
    align-content: center;
    margin: 0;
    height: 4rem;
    text-align: center;
    border-right-color: #a78456;
    border-right-style: solid;
    border-right-width: 2.85px;
    }

#howToPlayModalBtn {
    display: block;
    background: saddlebrown;
    color: #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: 1rem;
    text-align: center;
    font-size: 1rem;
    font-family: Verdana;
    margin-right: 3vw;
    margin-top: 1rem;
    }


.foundTreasuresBar {
    position: relative;
    display: flex;
    width: 100%;
    background-image: linear-gradient(to top, #755c3e 0%, rgb(222, 184, 135) 100%);
    border-top: 1px solid rgba(210, 180, 140, 0.3);
    -webkit-background-clip: padding-box;
        background-clip: padding-box; 
    min-height: 22vh;
    z-index: -1;
    justify-content: center;
    margin-top: -3rem;
    }

.foundTreasuresParent {
    width: 97%;
    max-width: 30rem;
    display: flex;
    align-content: center;
    justify-content: center;
}

.treasuresBarChild {
    height: 3rem;
    align-content: center;
    margin-top: 3rem;
}

#smallTreasureContainer {
    width: 18%;
    margin-right: 3vw;
}

#mediumTreasureContainer {
    width: 28%;
    margin-right: 4vw;
}

#largeTreasureContainer {
    width: 38%;
}

.treasurePic {
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0.5rem;
    visibility: hidden;
}

#wetSandBar {
    width: 100%;
    background-color: #755c3e;
    height: 25vh;
    z-index: -1;
    margin-top: -0.1rem;
    margin-bottom: -35vh;
}

#svg-wave {
    z-index: 1;
    border-bottom: 1px solid #68e0cf(210, 180, 140, 0.3);
    margin-top: -1.2%;
    }

#svg-github {
    margin-right: 0.25rem;
}

#svg-linkedin {
    margin-left: 0.25rem;
}


footer {
    background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -1rem;
    height: 30vh;
    z-index: 1;
    }

#socials {
    text-align: center;
    margin: auto;
    padding-top: 2rem;
    

    }


#credit {
    background-color:#00065a;
    max-width: 18rem;
    text-align: center; 
    margin: auto;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    align-content: center;
    border-style:hidden;
    border-radius: 10px;
    
    }

#credit a {
    color: white;
    }

#credit a:hover {
    color: rgb(229, 255, 0)
    }

a {
    text-decoration: none;
    }
    




/*Top sentence in end of game Modals?*/
h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    color:saddlebrown;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    }  
/*The HTP Modal Close Button*/
.howToPlayClose {
    color: #ff0000;
    float: right;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
}


.howToPlayClose:focus {
    color: black;
    text-decoration: none;
    cursor:pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.7);
}

/*winGame Modal Content Box*/
.modal-content {
    padding: 20px;
    width: 80%;
    align-self: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.3);
}

#welcomeModalContent {
    background-color: bisque;
    border-color: #a78456;
    border-style: solid;
    border-width: 0.2 rem;
    align-self: center;
    margin: 5% auto;
    max-width: 50rem;
    width: 80vw;
}

h5 {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    background-color: gold;
    color:rgb(107, 91, 0);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-shadow: rgb(206, 175, 0) 0px 2px 0px;
    width: 19rem;
    margin: auto;
    margin-bottom: 2rem;
    align-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-color: gold;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    
    }


#welcomeHowToPlayBtnContainer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-shadow: #ad8a53 0px 1px 0px;
    margin: auto;
}

#welcomeHowToPlayBtn {
    font-size: 1rem;
    color:gold;
    background-color: #755c3e;
    width: 10rem;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: #ad8a53 0px 1px 0px;
    margin-bottom: 3rem;
}

.difficultyButtonsColumn {
    margin: auto;        
    width: 100%;
    line-height: 0.75;
    align-items: center;
    justify-content: center;
}

.difficultyButtons {
    padding: 1rem 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 11rem;
}

#easyModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#easyModeBtn {
    font-size: 2rem;
    color:gold;
    width: 11rem;
    background-color: #755c3e;
    text-transform: uppercase;
    text-shadow: #ad8a5e 0px 1px 0px;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
}

#normalModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#normalModeBtn {
    font-size: 2rem;
    color:rgb(255, 102, 0);
    width: 11rem;
    background-color: #755c3e;
    text-transform: uppercase;
    text-shadow: #ad8a5e 0px 1px 0px;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
}

#hardModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#hardModeBtn {
    font-size: 2rem;
    color:rgb(255, 0, 0);
    width: 11rem;
    background-color: #755c3e;
    text-transform: uppercase;
    text-shadow: #ad8a5e 0px 1px 0px;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
}

#activateMinesContainer {
    color: #ff0000;
    background-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color:#ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    width: 19rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

p   {
    font-size: 1.rem;
    text-transform: uppercase;
    color: saddlebrown;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*The Mines Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 0.75rem;
    
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider.round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
}

.slider.round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    
}

input:checked + .slider {
    background-color: red;
    }

input:focus + .slider {
    box-shadow: 0 0 1px red;
    }

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

#winGameModalContent {
    background-color: bisque;
    border-color: #a78456;
    border-style: solid;
    border-width: 0.2 rem;
    align-self: center;
    margin: 5% auto;
    width: 80vw;
}

#gameOverTurnsModalContent {
    background-color: bisque;
    border-color: #a78456;
    border-style: solid;
    border-width: 0.2 rem;
    align-self: center;
    margin: 5% auto;
    width: 80vw;
}

#gameOverMinesModalContent {
    background-color: bisque;
    border-color: #a78456;
    border-style: solid;
    border-width: 0.2 rem;
    align-self: center;
    margin: 5% auto;
    width: 80vw;
}

p   {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 1rem;
     color: saddlebrown;
     text-align: center;

    }

p2  {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 150%;
        color:saddlebrown;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }

p3  {
    color: #59e6ff;
    }   

#snackbarChest {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    visibility: hidden;
    width: 50%;
    background-color: #87fd91;
    color: #000000;
    text-align: center; 
    border-style: solid;
    border-color: green;
    border-radius: 10px; 
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 23%;
    top: 100px;
    align-content: center;
    }
        
#snackbarChest.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.0 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.0s;
    animation: fadein 0.5s, fadeout 0.5s 2.0s;
    }

#snackbarGolfClubs {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    visibility: hidden;
    width: 50%;
    background-color: #87fd91;
    color: #000000;
    text-align: center; 
    border-style: solid;
    border-color: green;
    border-radius: 10px; 
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 23%;
    top: 100px;
    align-content: center;
    }
        
#snackbarGolfClubs.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.0 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.0s;
    animation: fadein 0.5s, fadeout 0.5s 2.0s;
    }

    #snackbarSurfboard {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    visibility: hidden;
    width: 50%;
    background-color: #87fd91;
    color: #000000;
    text-align: center; 
    border-style: solid;
    border-color: green;
    border-radius: 10px; 
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 23%;
    top: 100px;
    align-content: center;
    }
        
#snackbarSurfboard.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.0 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.0s;
    animation: fadein 0.5s, fadeout 0.5s 2.0s;
    }
    
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
    }
    
@keyframes fadein {
from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
    }
    
@-webkit-keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
    }
    
@keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
    }




